body {
    background-image: url( "../img/bg-hasil.png") ;
    background-size: 213vh 100vh;
    align-items: center;
    display: flex;
    justify-content: center;

}

.group-1 h3 {
    color: white;
}

.group-1 h1 {
    color: white;
}

.group-1 {
    margin-top: 5%;
}

.keluruhan {
    width: 100%;
}

.gambar-makanan {
    width: 40vh;
    height: 25vh;
}

.group-text {
    margin-left: 5%;
}

.group-2 {
    background-color: white;
    display: flex;
    padding: 3%;
    border-radius: 15px;
    border: solid 1px;
    width: 130vh;
    margin-top: 3%;
}
