body {
    background-image: url('../img/bg-login.png');
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
    padding: 10px;
    display: flex; /* kesamping */
    background-size: 213vh 100vh;
}

.area-judul h1 {
    color: white;
    font-size: 30pt;
    font-weight: bolder;

}

.area-deskripsi{
    font-size: medium;
    font-weight: 400;
    color: white;
}

.area-input {
    width: 70vh;
    height: 20vh;
}

input {
    height: 10vh;
    font-family: FontAwesome;
}

.logo {
    width: 10vh;
    height: 10vh;
}

.area-login{
    margin-top: 5%;
}

.btn-login{
    width: 70vh;
    height: 6vh;
}

.wrap-content {
    background-image: url("../img/");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10vh;
}

.bingkai-atas {
    width: 30vh;
    height: 30vh;
    display: flex;
}

.bg-icon{
    margin-left: 102vh;
}

.bingkai-bawah{
    width: 30vh;
    height: 30vh;
}

.area-bingkai-bawah {
    margin-top: 100%;
}

.icon-item {
    width: 50vh;
    height: 50vh;
    margin-top: 30vh;
    margin-left: 50vh;
}