html, body {
    height: 100%;
    font-family: 'Poppins';
}

.center-content {
    height: 30%;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    white-space: nowrap;
}

.biodata {
    font-size: 48pt;
    margin: 0px;
    padding: 0px;
}

.description {
    font-size: 32pt;
    margin: 0px;
    padding: 0px;
}

.form-content {
    width: 70vh;
    margin-right: auto;
    margin-left: auto;
}

.tgl {
    display: flex;
}

.kirim {
    display: flex;
    justify-content: center;
}


.btn-primary {
    width: 20vh;
    background-color: #734597 !important;
    border-color: #734597 !important;
}
