.group1 {
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.group2 {
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.group3 {
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.group4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    width: 20vh;
    background-color: #734597 !important;
    border-color: #734597 !important;
}
.keseluruhan {
    width: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.coloum{
    width: 70vh;
}

.coloum2 {
    width: 70vh;
}
