html, body {
    height: 100%;
    font-family: 'Poppins';
    display: flex;
    background-image: url('../img/bg-dashboard.png');
    background-size: contain;
}

.area-sidebar {
    width: 25vh;
    height: 100%;
    padding: 20px;
}

.sidebar-menu {
    width: 11vh;
    height: 90%;
    background-color: #734597;  
    margin: 0 auto;
    border-radius: 20px;
    padding: 12%;
}

.fa-user {
    font-size: 15pt;
    color: white;
}

.fa-house-chimney {
    font-size: 15pt;
    color: white;
}

.fa-bell {
    font-size: 15pt;
    color: white;
}

.side-book {
    font-size: 15pt;
    color: white;
}

.btn-transparent {
    background-color: transparent;
}

.list-food {
    display: flex;
}

.wrap-menu {
    margin-top: 10vh;
}