body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-perent {
    padding: 20vh;
}

.content-text {
margin-bottom: 20%;
}

.judul-dalam {
    text-align: center;
    font-weight: 500;
}

.judul {
    text-align: center;
    font-weight: 700;
}

.description {
    text-align: center;
}

.content-gender {
    margin-bottom: 20%;
    display: flex;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buton {
    display: flex;
    align-items: center;
    justify-content: center;
}
