html, body {
    height: 100%;
    font-family: 'Poppins';
    overflow: hidden;
}

.keseluruhan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-1{
    display: flex;
    margin-top: 5%;
    width: 70vh;
}

.judul {
    font-size: 100%;
}

.wraph {
    display: flex;
}

.kalori {
    margin-top: 2%;
    margin-left: 3%;
}

.goals {
    margin-left: 3%;
    margin-top: 4%;
}

.titik-tiga{
    font-size: 20pt;
    margin-top: 15%;

}

.nama-profile{
    margin-right: 20%;
    margin-top: 13%;
}

.foto{
    margin-right: 5%;
    margin-top: 12%;
    margin-left: 8%;
}

.group-2{
    margin-top: 10%;
}
